<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Shallow Blue Chess!" %></h2>
  <p class="lead">A productive chess game engine that<br />does not compromise speed and maintainability.</p>
</div>

<script>
  let socket = new Socket("/ws");
  socket.connect();
  let guardianToken = jQuery('meta[name="guardian_token"]').attr('content');
  let chan = socket.chan("pings", { guardian_token: guardianToken });
</script>
